a {
	color: white;
}

body {
	background-image: url("assets/uiux.jpg");
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: top center !important;
	background-repeat: no-repeat !important;
	background-attachment: fixed;
}

.p {
	font-family: 'Doppio One', sans-serif;
	font-size: 13px;
}

.anyKey {
	font-family: 'Codystar', cursive;
}

.banner1 {
	font-family: 'Montserrat Subrayada', sans-serif;
	text-align: center;
	font-size: 70px;
	color: white;
}

.banner2 {
	font-family: 'Satisfy', cursive;
	text-align: center;
	font-size: 90px;
	line-height: 30%;
	color: #bf00ff;

}

.img-rounded {
	background-color: grey;
}

.hey {
    background-repeat: repeat;
}

.firstMsg {
	font-family: 'Codystar', cursive;
	font-size: 13px;
	color: white;
	text-align: center;
	animation: blinker 3s linear infinite;
	margin-top: 30px;
	margin-bottom: 20px;
}

.secondMsg {
	font-family: 'Codystar', cursive;
	font-size: 24px;
	color: white;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 30px;
	text-shadow:  rgb(255, 255, 255)
	0px 0px 10px, rgb(255, 255, 255)
	0px 0px 20px, rgb(255, 255, 255)
	0px 0px 30px, rgb(255, 0, 222)
	0px 0px 40px, rgb(255, 0, 222)
	0px 0px 70px, rgb(255, 0, 222)
	0px 0px 80px, rgb(255, 0, 222)
	0px 0px 100px;;
}


@keyframes blinker {  
  50% { opacity: 0; }
}

.scoreLog {
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	color: white;
	margin: 10px;
}

.x {
	margin-bottom: 50px;
}

.middleContainer {
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	border-radius: 10px;
	border: 1px;
	border-style: solid;
	border-color: white;
}


.middleBoxes {

	text-align: center;
	font-size: 24px;
	color: white;
	padding-top: 20px;
}

.middleLeft {
	margin-bottom: 20px;
}

.middleRight {

}

.messageReset {
	font-family: 'Codystar', cursive;
	font-size: 16px;
	color: white;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 30px;
}
